#container {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: grey;
}

#animate {
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: red;
}
#animate1 {
    width: 50px;
    height: 50px;
    top: 350px;
    left: 0px;
    position: absolute;
    background-color: green;
}
#animate2 {
    width: 50px;
    height: 50px;
    top: 350px;
    left: 350px;
    position: absolute;
    background-color: blue;
}
#animate3 {
    width: 50px;
    height: 50px;
    top: 0px;
    left: 350px;
    position: absolute;
    background-color: darkorange;
}